
  .skill-list {
    /* gap: 60px; */
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .skill-box {
    width: 80%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
  margin-bottom: 65px;
    background-color: transparent;
    padding: 6px 0;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgb(60, 124, 254);
  }
  .skill-box img{
    width: 34px;
  }
  
  .skill-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
    opacity: 0;
    grid-template-columns: repeat(4, 1fr);
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
  }
  .skill-grid img:hover {
    transform:scale(1.1);
    transition: ease 0.5s;
  }
  .g-pro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
    
  }
 

/* Media queries for tablet */
@media screen and (max-width: 375px) {
  .skill-list {
    grid-template-columns: 1fr;
    gap: 20px;
}

.skill-box {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
}

.skill-grid {
    grid-template-columns: repeat(2, 1fr);
}

.g-pro {
    grid-template-columns: 1fr;
}

#sub-text p {
    font-size: 14px;
}
}


